[submodule "hikvision-doorbell/integration"]
	path = hikvision-doorbell/integration
	url = https://github.com/miketyson666/hikvision-doorbell-integration.git
[submodule "hikvision-doorbell/card"]
	path = hikvision-doorbell/card
	url = https://github.com/miketyson666/hikvision-doorbell-card.git
